.containerSecondSection{
    margin: 0% 12.5% 0% 12.5%;
    font-size: 2.3vw;
    color: rgb(57, 57, 150);
    font-family: 'patua';
}
.small{
    font-family: 'pacifico';
    letter-spacing: 3px;
    font-size: 2.7vw;
    color: rgb(140, 140, 189);
}
.smallSecondText{
    font-family: 'pacifico';
    letter-spacing: 1px;
    font-size: 1.5vw;
}
.contentSecondSection{
    display: inline-flex;
}
.contentSecondSectionTwo{
    display: inline-flex;
    margin: none;
}
.containerTextSecondSection{
    font-size: 1.3vw;
    font-family: 'poppins_medium';
    position: absolute;
    width: 21.5vw;
    height: 27.3vw;
    right: 12.2%;
    color: white;
    background-color: rgb(150, 140, 160); 
    padding: 2vw 2vw 1.3vw 1vw;
    font-weight: lighter;
}
.buttonSecontSection{
    position: absolute;
    right: 38%;
    margin-top: 16%;
    padding: 0.8%;
    z-index: 2;
    border: 0px solid black;
    font-weight: lighter;
    border-radius: 8px;
    background-color: rgb(57, 57, 150);
    color: white;
}
.secondContainerTextSecondSection{
    position: relative;
    top: 20%;
    margin: 0% -0.6% 0% 2%;
    width: 70%;
    font-size: 1.4vw;
    color: rgb(140, 142, 148);
    text-align: center;
    border: 1px solid rgb(57, 57, 150);
    padding: 0% 1% 0% 1%;
    font-family: 'patua';
    font-weight: lighter;
}
.secondContainerTextSecondSection p{
    font-size: 1.2vw;
    font-family: 'poppins_medium';
    color: rgb(174, 177, 184);
}
.impulse1{
    margin-left: 1vw;
    width: 33%;
    height: 14vw;
}
.impulse2{
    position: relative;
    width: 25vw;
    height: 15vw;
    top: 15.5vw;
    right: 25vw;
}
.impulse3{
    margin-top: 0.4vw;
    width: 32%;
    height: 13vw;
}
.impulse4{
    width: 32%;
    height: 33vw;
}
.logo_bco{
    width: 45%;
    top: 5vw;
    position: relative;
    right: -6vw
}
@media screen and (max-width: 768px){
    .containerSecondSection{
        font-size: 4.4vw;
        margin: 0vw 3% 0vw 3%;
    }

    .containerTextSecondSection{
        position: relative;
        font-size: 2.6vw;
        padding: 0vw 24% 1% 1%;
        height: 38vw;
        right: 93.5vw;
        top: 57vw;
        margin: 0% 1% 0vw 8.5%;
        text-align: left;
    }
    .logo_bco{
        position: inherit;
        padding: 0vw;
        right: -20vw;
        top: -30vw;
        width: 18vw;
    }
    .smallSecondText{
        font-size: 2.6vw;
    }
    .small{
        font-size: 4.8vw;
    }
    .secondContainerTextSecondSection{
        position: inherit;
    }
    .contentSecondSectionTwo{
        display: initial;
    }
    .secondContainerTextSecondSection{
        margin: 4vw 0% 0% 0.5vw;
        width: 90vw;
        font-size: 3.8vw;
        color: rgb(98, 100, 106);
        text-align: center;
        border: 0.7vw solid rgb(57, 57, 150);;
        margin-bottom: 5vw;
    }
    .secondContainerTextSecondSection p {
        font-size: 3.4vw;
    }
    .impulse1{
        width: 42%;
        height: 26vw;
        margin: 0vw 0vw 0vw 3%;
        padding: 0vw;
    }
    .impulse2{
        position: relative;
        width: 42%;
        height: 24vw;
        top: 31vw;
        right: 44vw;
        padding: 0vw;
        margin-left: 5%;
    }
    .impulse3{
        margin-top: 1vw;
        width: 52%;
        height: 34vw;
    }
    .impulse4{
        width: 55%;
        height: 60vw;
    }
    .buttonSecontSection{
        margin-top: 32vw;
        right: 3.5%;
        font-size: 3.2vw;
        padding: 1.7vw;
    }
}