.containerSecondSection{
    margin: -2% 5% 0% 5%;
    font-size: 38px;
    color: #2b388f;
    font-family: 'patua';
}
.small{
    font-family: 'pacifico';
    letter-spacing: 3px;
    font-size: 45px;
    color: rgb(140, 140, 189);
}
.smallSecondText{
    font-family: 'pacifico';
    letter-spacing: 1px;
    font-size: 28px;
}
.contentSecondSection{
    display: inline-flex;
}
.contentSecondSectionTwo{
    display: inline-flex;
    margin: none;
}
.containerTextSecondSection{
    font-size: 22px;
    font-family: 'poppins_medium';
    position: absolute;
    width: 26vw;
    height: 40.5vw;
    right: 4.5%;
    color: white;
    background-color: #6e728e; 
    padding: 2vw 2vw 1.3vw 1vw;
    font-weight: bold;
}
.buttonSecontSection{
    position: absolute;
    right: 36%;
    margin-top: 25%;
    padding: 0.8%;
    z-index: 2;
    border: 0px solid black;
    font-weight: lighter;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    background-color: #2b388f;
    color: white;
}
.secondContainerTextSecondSection{
    position: relative;
    top: 20%;
    margin: 0% -0.5% 0% 2.2%;
    width: 80%;
    font-size: 28px;
    color: rgb(140, 142, 148);
    text-align: center;
    border: 1px solid rgb(57, 57, 150);
    padding: 0% 1% 0% 1%;
    font-family: 'patua';
    font-weight: lighter;
}
.secondContainerTextSecondSection p{
    font-size: 22px;
    font-family: 'poppins_medium';
    color: rgb(174, 177, 184);
}
.impulse1{
    width: 32%;
    height: 22vw;
    position: relative;
    right: -2vw;
}
.impulse2{
    position: relative;
    width: 28.8vw;
    height: 20vw;
    top: 24vw;
    right: 26.8vw;
}
.impulse3{
    margin-top: 1.2vw;
    width: 32.3%;
    height: 19vw;
}
.impulse3-1{
    display: none;
}
.impulse4{
    width: 29vw;
    height: 45.7vw;
}
.logo_bco{
    position: relative;
    width: 17vw;
    margin-top: -0vw;
    right: -22%;
}
@media screen and (max-width: 1024px){
    .contentSecondSection{
        display: inline-flex;
        justify-content: space-between;
        text-align: center;
    }
    .impulse4{
        min-width: 48%;
        height: 60vw;
    }
    .impulse1{
        position: relative;
        right: -3.4%;
        width: 50%;
        height: 29vw;
    }
    .impulse2{
        margin-top: 8.8%;
        position: relative;
        right: 45%;
        width: 48.5%;
        height: 28vw;
    }
    .impulse3{
        width: 48%;
        margin-top: 49vw;
        height: 34vw;
    }
    .buttonSecontSection{
        margin-top: 34vw;
        right: 6%;
        font-size: 15px;
        padding: 1.7vw;
    }
    .containerTextSecondSection{
        margin-right: 0.5vw;
        width: 87%;
        margin-top: 63.5vw;
        height: 40vw;
    }
    .secondContainerTextSecondSection{
        margin-top: 49vw;
        margin-right: 0.02vw;
        font-size: 3.4vw;
        padding-bottom: 2vw;
    }
    .secondContainerTextSecondSection h4{
        margin:4% 0 0 0;
    }
    .secondContainerTextSecondSection p{
        padding: 0%;
        margin: 0%;
        font-size: 2.5vw;
    }
    .logo_bco{
        padding: 0vw;
        right: 0vh;
        width: 18vw;
        margin-top: -3vh;
    }
}
@media screen and (max-width: 525px){
    .containerSecondSection{
        font-size: 4.4vw;
        margin: 0vw 7% 0vw 7%;
    }
    .contentSecondSection{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .containerTextSecondSection{
        position: initial;
        width: 96.4%;
        margin: 7vw 0 0 0 ;
        height: 63vw;
        font-size: 5vw;
    }
    .logo_bco{
        padding-top: 4vw;
        right: 0vh;
        width: 20vw;
    }
    .smallSecondText{
        font-size: 5.1vw;
    }
    .small{
        font-size: 5vw;
    }
    .secondContainerTextSecondSection{
        position: inherit;
    }
    .contentSecondSectionTwo{
        display: initial;
    }
    .secondContainerTextSecondSection{
        margin: 4vw 0% 0% -0.4%;
        width: 99%;
        font-size: 3.8vw;
        color: rgb(98, 100, 106);
        text-align: center;
        border: 0.7vw solid #2b388f;;
        margin-bottom: 5vw;
        padding: 3vw 0 6vw 0;
    }
    .secondContainerTextSecondSection p {
        font-size: 3.4vw;
    }
    .impulse1{
        margin: 7vw 0 0 -2.7vw;
        width: 99.5%;
        height: 46vw;
    }
    .impulse2{
        right: 0vw;
        top: 0;
        padding: 0%;
        width: 100%;
        height: 46vw;
    }
    .impulse3{
        display: none;
    }
    .impulse3-1{
        margin-top: 7vw;
        display: initial;
        width: 100%;
        height: 60vw;
    }
    .impulse4{
        object-fit: cover;
        width: 100%;
        height: 60vw;
    }
    .buttonSecontSection{
        margin-top: 123vw;
        right: 9%;
        font-size: 3.2vw;
        padding: 1.7vw;
    }
}