.containerFooter{
    background-color: #2b388f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0%;
    margin: 0% 0 0 0;
}
.fundationName{
    color: white;
    margin: 0%;
    font-size: 24px;
    font-family: 'patua';
    letter-spacing: -1.2px;
}
.logo_bcoFooter{
    width: 50px;
    margin-top: 1%;
}
.infoFooter{
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'poppins_regular';
}
.textFooter{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-left: 6vw;
    font-family: 'poppins_regular';
}
.AliatFooter{
    color: white;
    font-size: 15px;
    padding-bottom: 1%;
    font-family: 'poppins_regular';
    font-weight: 100;
}
@media screen and (max-width: 525px){
    .logo_bcoFooter{
        width: 10vh;
    }
    .infoFooter{
        color: white;
        text-decoration: none;
        font-size: 1.8vh;
        position: relative;
    }
    .textFooter{
        padding-left: 4vw;
        margin-left: -0.5%;
    }
    .AliatFooter{
        font-size: 1.8vh;
        padding-bottom: 6%;
    }
}