@font-face {
    font-family: 'poppins_regular' ;
    src: url('../../fonts/poppins_regular.woff2') format('truetype');
    font-family: 'pop' ;
    src: url('../../fonts/pacifico_regular.woff2') format('truetype');
 
 }
.containerFooter{
    background-color: blue;
    text-align: center;
}
.fundationName{
    color: white;
    margin: 0%;
}
.infoFooter{
    color: white;
    position: relative;
    display: flex;
    right: -29%;
    align-items: center;
    font-size: 1.2vh;
    margin: 0% 2.5% 0% 0%;
}
.AliatFooter{
    color: white;
    font-size: 1.3vh;
}