.containerFooter{
    background-color: rgb(57, 57, 150);
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.fundationName{
    color: white;
    margin: 0%;
    font-size: 1.4vw;
    font-family: 'patua';
}
.logo_bcoFooter{
    width: 4vh;
    margin-top: 1%;
}
.infoFooter{
    color: white;
    position: relative;
    display: flex;
    right: -29%;
    align-items: center;
    font-size: 1.2vh;
    margin: 0% 2.5% 0% 0%;
    font-family: 'poppins_regular';
}
.textFooter{
    color: white;
    text-decoration: none;
    font-size: 1.6vh;
    margin: 2%;
    font-family: 'poppins_regular';
}
.AliatFooter{
    color: white;
    font-size: 1.6vh;
    padding-bottom: 1%;
    font-family: 'poppins_regular';
    font-weight: 100;
}
@media screen and (max-width: 768px){
    .logo_bcoFooter{
        width: 10vh;
    }
    .infoFooter{
        color: white;
        text-decoration: none;
        font-size: 2vh;
        margin: 0% 10vw 0% 10vw;
        padding: 2%;
        position: relative;
        right: 0.01vh;
    }
    .AliatFooter{
        font-size: 1.8vh;
        padding-bottom: 6%;
    }
}